# ESP-IDF folders
**/build/
**/.devcontainer/
**/.vscode/
**/dependencies.lock
**/sdkconfig.old
**/sdkconfig.ci
**/managed_components/

# Renesas
**/trash/
**/JLinkLog.log

# Lua applications
/lua_applications/*.h

# Wasm applications
