<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.renesas.cdt.launch.dsf.gdbremote.launchConfigurationType">
    <booleanAttribute key=".setStepMode" value="false"/>
    <stringAttribute key="com.renesas.cdt.core.additionalServerArgs" value=""/>
    <intAttribute key="com.renesas.cdt.core.connectionTimeout" value="30"/>
    <stringAttribute key="com.renesas.cdt.core.initCommands" value=""/>
    <stringAttribute key="com.renesas.cdt.core.ipAddress" value="localhost"/>
    <stringAttribute key="com.renesas.cdt.core.jtagDeviceId" value="com.renesas.hardwaredebug.riscv.jlink"/>
    <listAttribute key="com.renesas.cdt.core.listGDBExe">
        <listEntry value="riscv32-unknown-elf-gdb"/>
    </listAttribute>
    <listAttribute key="com.renesas.cdt.core.listGDBLaunchName">
        <listEntry value="main"/>
    </listAttribute>
    <listAttribute key="com.renesas.cdt.core.listGDBPort">
        <listEntry value="61234"/>
    </listAttribute>
    <booleanAttribute key="com.renesas.cdt.core.loadImage" value="true"/>
    <stringAttribute key="com.renesas.cdt.core.optionInitCommands" value=""/>
    <intAttribute key="com.renesas.cdt.core.portNumber" value="61234"/>
    <stringAttribute key="com.renesas.cdt.core.runCommands" value=""/>
    <stringAttribute key="com.renesas.cdt.core.secondGDBExe" value="green_dsp-elf-gdb"/>
    <booleanAttribute key="com.renesas.cdt.core.secondGDBSupport" value="false"/>
    <intAttribute key="com.renesas.cdt.core.secondGdbPortNumber" value="61237"/>
    <stringAttribute key="com.renesas.cdt.core.serverParam" value="-g SEGGERJLINKRISCV -t R9A02G021 -uConnectionTimeout= 30 -uSelect= &quot;USB&quot; -uJLinkSetting= &quot;${workspace_loc:/${ProjName}}/${LaunchConfigName}.jlink&quot; -uJLinkLog= &quot;${workspace_loc:/${ProjName}}/JLinkLog.log&quot; -uLowPower= 0 -uInteface= &quot;cJTAG&quot; -uIfSpeed= &quot;4000&quot; -uResetBeginConnection= 1 -uNoReset= 1 -uResetPreRun= 1 -uIdCodeBytes=  &quot;FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF&quot; -uresetOnReload= 1 -n &quot;0&quot; -uAllowRRMDMM= 0 -uFlashBp= 0 -uSimulation= 0 -uAllowCachingFlash= 0 -uTimeMeasurementEnable= 1"/>
    <booleanAttribute key="com.renesas.cdt.core.setResume" value="true"/>
    <booleanAttribute key="com.renesas.cdt.core.setStopAt" value="true"/>
    <booleanAttribute key="com.renesas.cdt.core.startServer" value="true"/>
    <stringAttribute key="com.renesas.cdt.core.stopAt" value="main"/>
    <stringAttribute key="com.renesas.cdt.core.targetDevice" value="R9A02G021"/>
    <booleanAttribute key="com.renesas.cdt.core.useRemoteTarget" value="true"/>
    <stringAttribute key="com.renesas.cdt.debug.ioview.dsf.registerSelection0" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;selectedRegisterList ioFilePath=&quot;/home/tdn/.eclipse/com.renesas.platform_1616347492/DebugComp/assp-riscv/IoFiles/R9A02G021.svd&quot;/&gt;&#10;"/>
    <stringAttribute key="com.renesas.cdt.launch.dsf.IO_MAP" value="${support_area_loc}../../../.."/>
    <booleanAttribute key="com.renesas.cdt.launch.dsf.USE_DEFAULT_IO_MAP" value="true"/>
    <listAttribute key="com.renesas.cdt.launch.dsf.downloadImages">
        <listEntry value="|true|true|true|0|true|No core|INTERNAL_MEMORY||false"/>
    </listAttribute>
    <booleanAttribute key="com.renesas.cdt.launch.dsf.downloadImagesUpgradedV30" value="true"/>
    <listAttribute key="com.renesas.cdt.launch.dsf.externalFlashDestinationAddresses"/>
    <listAttribute key="com.renesas.cdt.launch.dsf.externalFlashDownloadModules"/>
    <stringAttribute key="com.renesas.cdt.launch.dsf.launchSeqType" value="com.renesas.cdt.launch.dsf.launchSequence.e2GdbServer"/>
    <stringAttribute key="com.renesas.cdt.launch.dsf.serverPath" value="${renesas.support.targetLoc:com.renesas.ide.supportfiles.riscvmcu.debug.debugSupportFileTarget}/e2-server-gdb"/>
    <booleanAttribute key="com.renesas.hardwaredebug.riscv.break.allowSimulation" value="false"/>
    <booleanAttribute key="com.renesas.hardwaredebug.riscv.break.useFlashBreakpoints.resetorrepurposed" value="false"/>
    <stringAttribute key="com.renesas.hardwaredebug.riscv.cfiFlash.workRam.endAddr" value=""/>
    <stringAttribute key="com.renesas.hardwaredebug.riscv.cfiFlash.workRam.startAddr" value=""/>
    <booleanAttribute key="com.renesas.hardwaredebug.riscv.e2lite.allowRRMDMM" value="false"/>
    <booleanAttribute key="com.renesas.hardwaredebug.riscv.e2lite.memory.isLittleEndian" value="true"/>
    <intAttribute key="com.renesas.hardwaredebug.riscv.interface.speed" value="4000"/>
    <stringAttribute key="com.renesas.hardwaredebug.riscv.interface.type" value="cJTAG"/>
    <booleanAttribute key="com.renesas.hardwaredebug.riscv.jlink-uResetBeginConnection=" value="true"/>
    <booleanAttribute key="com.renesas.hardwaredebug.riscv.jlink.connection.id_code.format.big_endian" value="false"/>
    <intAttribute key="com.renesas.hardwaredebug.riscv.jlink.connection.id_code.input_type" value="0"/>
    <stringAttribute key="com.renesas.hardwaredebug.riscv.jlink.connection.id_code2" value="FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF"/>
    <stringAttribute key="com.renesas.hardwaredebug.riscv.jlink.connection.jlinkScript" value=""/>
    <booleanAttribute key="com.renesas.hardwaredebug.riscv.jlink.connection.registerInit" value="false"/>
    <booleanAttribute key="com.renesas.hardwaredebug.riscv.jlink.connection.reset" value="false"/>
    <booleanAttribute key="com.renesas.hardwaredebug.riscv.jlink.connection.resetAfterDownload" value="false"/>
    <booleanAttribute key="com.renesas.hardwaredebug.riscv.jlink.connection.resetBeginConnection" value="true"/>
    <booleanAttribute key="com.renesas.hardwaredebug.riscv.jlink.connection.resetPreRun" value="true"/>
    <stringAttribute key="com.renesas.hardwaredebug.riscv.jlink.ipAddress" value=""/>
    <stringAttribute key="com.renesas.hardwaredebug.riscv.jlink.logFile" value="${workspace_loc:/${ProjName}}/JLinkLog.log"/>
    <stringAttribute key="com.renesas.hardwaredebug.riscv.jlink.lowPowerHandling" value="No"/>
    <booleanAttribute key="com.renesas.hardwaredebug.riscv.jlink.memory.isLittleEndian" value="true"/>
    <booleanAttribute key="com.renesas.hardwaredebug.riscv.jlink.options.RiscvJLinkDebugToolSettingsTree.resetAfterReload" value="true"/>
    <stringAttribute key="com.renesas.hardwaredebug.riscv.jlink.scriptFile" value=""/>
    <stringAttribute key="com.renesas.hardwaredebug.riscv.jlink.settingsFile" value="${workspace_loc:/${ProjName}}/${LaunchConfigName}.jlink"/>
    <stringAttribute key="com.renesas.hardwaredebug.riscv.jlink.type" value="USB"/>
    <stringAttribute key="com.renesas.hardwaredebug.riscv.jlink.usbSerial" value=""/>
    <booleanAttribute key="com.renesas.hardwaredebug.riscv.prog_rewrite_irom" value="true"/>
    <booleanAttribute key="com.renesas.hardwaredebug.timemeasurement" value="true"/>
    <intAttribute key="org.eclipse.cdt.debug.gdbjtag.core.delay" value="0"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.doHalt" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.doReset" value="false"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.imageFileName" value="/home/tdn/wasm_lua_native/R9A02G021_wamr_interp_mini/HardwareDebug/R9A02G021_wamr_interp_mini.elf"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.imageOffset" value="0"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.initCommands" value=""/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.loadImage" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.loadSymbols" value="true"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.pcRegister" value=""/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.runCommands" value=""/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setPcRegister" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setResume" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setStopAt" value="true"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.stopAt" value="main"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.symbolsFileName" value="/home/tdn/wasm_lua_native/R9A02G021_wamr_interp_mini/HardwareDebug/R9A02G021_wamr_interp_mini.elf"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.symbolsOffset" value="0"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useFileForImage" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useFileForSymbols" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useProjBinaryForImage" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useProjBinaryForSymbols" value="true"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_NAME" value="riscv32-unknown-elf-gdb"/>
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.NON_STOP" value="true"/>
    <intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
    <booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
    <stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN_SYMBOL" value="main"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="HardwareDebug/R9A02G021_wamr_interp_mini.elf"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="R9A02G021_wamr_interp_mini"/>
    <booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="true"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="com.renesas.cdt.managedbuild.llvm.riscvmcu.configuration.debug.2083068017"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/R9A02G021_wamr_interp_mini"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
    <stringAttribute key="org.eclipse.dsf.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;memoryBlockExpressionList context=&quot;reserved-for-future-use&quot;/&gt;"/>
    <stringAttribute key="process_factory_id" value="org.eclipse.cdt.dsf.gdb.GdbProcessFactory"/>
</launchConfiguration>
